* {
    margin: 0;
    padding: 0;
}

button, code{
  font-size: 15pt;
  font-weight: bold;
}

body {margin: 20px;}
#wrapper {width: 100%;}

#introContainer, #canvasContainer, #quizMe, #infoContainer, #quizContainer, #retryBtn, #restartBtn {display: none;}

h2 {padding: 0 0 10px 0;}

form, h3, #instructions, #selectedTopic {padding: 10px 0;}

input[type="radio"] {margin: 10px;}

#instructions, #infoContent, #question, #endMessage {width: 600px;}

#infoContent, #question {white-space: pre-line;}

button {
  margin: 20px 0;
  width: 150px;
  height: 50px;
}

#question {margin: 0 0 20px 0;}
#quizCheckBtn, #retryBtn, #restartBtn {width: 300px;}